/*Punya Familly417*/
section {
  padding-top: 6rem;
}

/* Efek Glassmorphism Navbar */
.glass-navbar {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(26, 26, 64, 0.3)); !important /* Gradien transparan */
  backdrop-filter: blur(10px); /* Efek kaca buram */
  -webkit-backdrop-filter: blur(10px); /* Efek kaca buram untuk Safari */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Garis bawah tipis */
}

.jumbotron {
  padding-top: 5rem;
  background-color: #0c002e;
  background-image: url(img/);
}

#projects {
  background-image: linear-gradient(#0c002e, #2B124C);
}

.hoverimgtxt:hover img {
  filter: blur(5px);
  transition: 0.5s;
}

.hoverimgtxt img {
  transition: 1s;
}
.hoverimgtxt .card-img-top:hover :not(h2) {
  transition: 0.5s;
  -webkit-filter: blur(7px);
  filter: blur(7px);
  box-shadow: 0 0 16px cyan;
  opacity: 1;
  transition: 2s;
}

.hoverimgtxt h2 {
  position: absolute;
  top: 40%;
  z-index: 1;
  color: white;
  text-align: center;
  opacity: 0;
  transition: 1s;
  padding: 0;
  height: 0px;
  width: 100%;
  -webkit-text-stroke: 1px black;
}
.hoverimgtxt:hover h2 {
  opacity: 1;
  transition: 2s;
  
}

.penjelasan {
  Background-image: linear-gradient(#2B124C, 	#522B5B);
}

.penjelasan1 {
  background-image: linear-gradient(#522B5B, 	#854F6C);
}

.penjelasan2 {
  background-image: linear-gradient(#854F6C, 	#DFB6B2);
}

.penjelasan3 {
  background-image: linear-gradient(#DFB6B2, 	#FBE4D8);
}

.border2 h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.border2 h2 span {
  background-color: #0c002e;
  padding: 0 10px;
  -webkit-text-stroke: 1px rgb(247, 241, 241);
}

.border3 h2 span {
  background-color: #2B124C;
  padding: 0 10px;
}
.border3 h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
